.features {
    padding-bottom: 0;
}

.feature-list {
    display: flex;
    margin-left: -30px;
}

.feature-list__item {
    flex-basis: (1200px / 4) - 30px;
    margin-left: 30px;
}

.feature-list__icon {
    @include centeredFlex;
    width: 100%;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--secondary-background-color);
}

.feature-list__title {
    margin-bottom: 10px;

    color: var(--title-text-color);
    @include font(null, null, 14px, 1.14, null);
    text-transform: uppercase;
}

.feature-list__text {
    @include font(null, null, 14px, 1.71, null);
}