.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;

    background-color: var(--background-footer-color);

    @include desk {
        text-align: left;
    }
}

.footer__container {
    @include tab {
        @include centeredFlex(flex, baseline, null);
        flex-wrap: wrap;
    }

    @include desk {
        @include centeredFlex(flex, baseline, null);
    }
}

.address-block {
    @include tab {
        margin-left: 61px;
    }

    @include desk {
        margin-right: 70px;
        margin-left: 0;
    }
}

.address-block__logo {
    display: inline-block;
}

.address-list {
    width: 232px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 60px;

    @include desk {
        width: 231px;
        margin: 0;
    }
}

.address-list__item:not(:last-child) {
    margin-bottom: 8px;

    @include desk {
        margin-bottom: 9px;
    }
}

.address-list__link {
    color: var(--white-color);
    @include font(normal, null, 14px, 1.71, null);

    transition: color 250ms var(--timing-function);

    &:hover, &:focus {
        color: var(--accent-color);
    }
}

.address-list__link-mail,
.address-list__link-tel {
    color: var(--text-adress-color);
    transition: color 250ms var(--timing-function);

    &:hover, &:focus {
        color: var(--accent-color);
    }
}