.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;

    background-color: var(--background-footer-color);
}

.footer__container {
    /*@include centeredFlex(flex, baseline, null);*/
}

.address-block {
    /*margin-right: 70px;*/
}

.address-block__logo {
    margin-bottom: 20px;
}

.address-list {
    margin-bottom: 60px;
    /*width: 231px;*/
}

.address-list__item:not(:last-child) {
    margin-bottom: 8px;
    /*margin-bottom: 9px;*/
}

.address-list__link {
    color: var(--white-color);
    @include font(normal, null, 14px, 1.71, null);

    transition: color 250ms var(--timing-function);

    &:hover, &:focus {
        color: var(--accent-color);
    }
}

.address-list__link-mail,
.address-list__link-tel {
    color: var(--text-adress-color);
    transition: color 250ms var(--timing-function);

    &:hover, &:focus {
        color: var(--accent-color);
    }
}