.header-contact {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 64px;

    @include tab {
        flex-direction: column;
        align-items: baseline;
        padding-top: 21px;
        padding-bottom: 21px;
        margin-bottom: 0;
        margin-left: 84px;
    }

    @include desk {
        @include centeredFlex(flex, center, null);
        margin-left: auto;
    }
}

.header-contact__item:not(:first-child) {

    @include tab {
        margin-top: 10px;
    }

    @include desk {
    margin-left: 50px;
    }
}

.header-contact__link-tel {
    display: inline-block;
    margin-bottom: 32px;
    @include font(null, 500, 34px, 1.18, 0.02em);
    color: var(--accent-color);
}

.header-contact__link-mail {
    display: inline-block;
    @include font(null, 500, 24px, 1.17, 0.02em);
    color: var(--primery-text-color);
}


.header-contact__link-mail,
.header-contact__link-tel {
    @include tab {
    @include centeredFlex;
    margin: 0;

    color: var(--primary-text-color);
    @include font(null, 500, 12px, 1.17, 0.02em);
    }

    @include desk {
    padding-top: 32px;
    padding-bottom: 32px;

    transition: color 250ms var(--timing-function);

        &:hover, &:focus { 
            color: var(--accent-color);
        }
    }
}

.header-contact__icon-mail,
.header-contact__icon-tel {
    display: none;

    @include tab {
        display: block;
        margin-right: 8px;
        fill: currentColor;
    }

    @include desk {
        margin-right: 10px;
    }
}

.header-contact__icon-mail {
    @include tab {
        width: 14px;
        height: 10px;
    }

    @include desk {
        width: 16px;
        height: 12px;
    }
}

.header-contact__icon-tel {
    @include tab {
        width: 10px;
        height: 14px;
    }

    @include desk {
        height: 16px;
    }
}