.header {
    position: relative;
    border-bottom: 1px solid var(--border-header-color);
}

.header-container {
    @include centeredFlex(flex, center, null);
}

.header-nav {
    @include centeredFlex(flex, center, space-between);
    width: 100vw;
    min-height: 60px;
}