.hero {
    height: 400px;
    padding-top: 118px;
    padding-bottom: 118px;
    margin-left: auto;
    margin-right: auto;

    background-color: var(--background-color-hero);  
    background-image: linear-gradient(to right, var(--background-color-gradient), var(--background-color-gradient)), 
    url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;

    @include mob {
        width: 480px;
    }

    @include tab {
        width: 768px;
    }

    @include desk {
        width: 1600px;
        height: 600px;
        padding-top: 200px;
        padding-bottom: 200px;
    }
}

.hero__title {
    margin-bottom: 30px;   
    margin-left: auto;
    margin-right: auto;

    @include font(null, 900, 26px, 1.62, 0.06em);
    color: var(--white-color);
    text-align: center;
    text-transform: uppercase;

    @include mob {
        width: 360px;
    }

    @include desk {
        width: 696px;
        @include font(null, 900, 44px, 1.36, 0.06em);
    }
}