.menu-button {
    @include centeredFlex(inline-flex, center, null);
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;

    &:hover, &:focus {
        fill: var(--accent-color);
    }

    @include tab {
        display: none;
    }
}

.menu-button__icon-cross {
    display: none;
    background-color: transparent;
    

    .menu-button.is-open & {
        display: block;
    }
}

.menu-button.is-open .menu-button__icon-menu {
    display: none;
}

.menu-container {
    padding: 48px 40px;
    background-color: var(--white-color);
    @include font(null, 500, 40px, 1.18, 0.02em);

    @media screen and (max-width: 767px) {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 769px;

        &.is-open {
            display: block;
        }
    }

    @media screen and (min-width: 768px) {
        @include centeredFlex(flex, center, null);
        margin-left: 88px;
    }
}