.menu-button {
    @include centeredFlex(inline-flex, center, center);
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    z-index: 2;

    @include tab {
        display: none;
    }
}

.menu-button__icon-cross {
    display: none;

    .menu-button.is-open & {
        display: block;
        fill: var(--black-color);

        &:hover, &:focus {
            fill: var(--accent-color); 
        }
    }
}

.menu-button__icon-menu {
    display: block;
    fill: var(--black-color);

    &:hover, &:focus {
        fill: var(--accent-color); 
    }

    .menu-button.is-open & {
        display: none;
    }
}

.menu-container {
    padding: 40px 30px;
    background-color: var(--white-color);

    @media screen and (max-width: 767.5px) {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;

        &.is-open {
            @include centeredFlex(flex, null, space-between);
            flex-direction: column;
            z-index: 1;
        }
    }

    @include tab {
        @include centeredFlex(flex, center, space-between);
        width: 100%;
        padding: 0;
        margin-left: 88px;
    }

    @include desk {
        margin-left: 93px;
    }
}