.product__link {
    display: block;
    transition: box-shadow 250ms var(--timing-function);

    &:hover, &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
        0px 4px 4px rgba(0, 0, 0, 0.06), 
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.product__overlay {
    position: relative;
    overflow: hidden;
}

.product__text {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 101%;
    padding: 63px 24px;

    @include font(null, null, 18px, 1.56, null);
    color: var(--white-color);
    background-color: var(--overlay-project-card);

    transform: translateY(100%);
    transition: transform 250ms var(--timing-function);

    .product__link:hover &,
    .product__link:focus & {
    transform: translateY(0);
    }
}

.product__meta {
    padding: 20px 24px;
    border-right: 1px solid var(--border-project-color);
    border-bottom: 1px solid var(--border-project-color);
    border-left: 1px solid var(--border-project-color);
}

.product__name {
    margin-bottom: 4px;

    color: var(--title-text-color);
    @include font(null, null, 18px, 2, 0.06em);
}

.product__description {
    color: var(--primary-text-color);
    @include font(null, null, 16px, 1.87, null);
}