:root {
    
--primary-text-color: #757575;
--title-text-color:  #212121;
--accent-color: #2196F3;
--white-color: #FFFFFF;
--black-color: #000000;
--secondary-background-color: #F5F4FA;
--background-color-hero: #C4C4C4;
--background-color-gradient: rgba(47, 48, 58, 0.4);
--background-footer-color: #2F303A;
--background-color-btn-order: #188CE8;
--text-adress-color: rgba(255, 255, 255, 0.6);
--border-project-color: #EEEEEE;
--border-header-color: #ECECEC;
--icon-color: #AFB1B8;
--icon-background-footer: rgba(255, 255, 255, 0.1);
--background-overlay-about: rgba(47, 48, 58, 0.8);
--background-overlay-modal: rgba(0, 0, 0, 0.2);
--overlay-project-card: rgba(33, 150, 243, 0.9);
--modal-input-color: rgba(33, 33, 33, 0.2);
--timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}